
RewriteEngine on
RewriteCond %{HTTP_HOST} ^([a-z.]+)?omnicononline\.com$ [NC]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www.omnicononline.com/$1 [L,R=301]


RewriteEngine on
RewriteRule ^/?registration([a-z/.]*)$ http://www.eventbrite.com/e/omnicon-2016-tickets-17931431394 [R=302,L]

RewriteEngine on
RewriteRule ^/?schedule([a-z/.]*)$ https://docs.google.com/spreadsheets/d/1ApzFBzcS7KIiMjmna1EC-7nRUc4M60W3Km8Mnx9x67Q/edit?usp=sharing [R=302,L]
