<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="/img/headshots/todd_haberkorn.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Todd Haberkorn</h1>
                        <h2>Producer, Writer, Director, Voice Actor</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">

                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>About Todd</h3>
                        <p>Todd Haberkorn has been on stage, on set, and behind a mic for many years. Not only is Todd an actor in LA, he works as a producer, writer and director as well. And he's even been an action figure or two. Haberkornmobile sold separately.</p>

                        <p>In the world of anime, Todd got his first major start in Suzuka as Yamato Akitski. From there, he went on to voice roles such as Jadeite from Sailor Moon, Natsu from Fairy Tail, Italy from Hetalia, Ling Yao from Full Metal Alchemist: Brotherhood, Cheren from Pokemon, Allen Walker from D. Gray Man, Hikaru Hitachin from Ouran High School Host Club, Death The Kid from Soul Eater, and many others. As far as video games go, you'd recognize his voice in the Call of Duty Series, Defiance, World of Warcraft, Street Fighter IV, Ghostbusters, Silent Hill: Book of Memories, Borderlands 2, and Rage to name a handful. His voice makes sure to get its marathon training in as an award winning narrator for audiobooks. Do a Google search and you'll find everything from thrillers and young adult to zombie sagas and children's books.</p>

                        <p>As far as on camera is concerned, when he isn't working on films, industrials, and television projects for other companies, Todd does work with his company Out of the Office Productions. This is one aspect of a long history of on camera work in narrative film, commercials, and shorts. When he isn't fighting digital monsters in video games or trying to save the day on film, Todd travels in the U.S. and internationally making appearances at gnarly pop culture conventions as a guest to meet super cool fans and sign autographs. He is represented by The Horne Agency, Jeff Zannini Management, Johnson Talent Agency, and William Morris Endeavor.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Get ready for AWESOME...</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Omnicon</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08 / 05 / 2016</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="/img/headshots/headshot_cherami_leigh_thumbnail.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Cherami Leigh</h1>
                        <h2>Actress, Voice Actress</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/cherami.leigh">Facebook</a>
                            <a href="https://twitter.com/cheramileigh">Twitter</a>
                            <a href="https://www.youtube.com/watch?v=Sagg08DrO5U&feature=youtu.be">YouTube</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>About me</h3>
                        <p>Cherami Leigh has been in the industry for 20 years. She has been in over 75 commercials, and has worked on over 100 anime projects including "Lucy" in Fairy Tail, "Asuna" in Sword Art Online, "Road" in D. Grayman, "Lizzie" in Black Butler, "Mai" in Ghost Hunt, and "Patty" in Soul Eater and has worked on over 20 video games- including Borderlands 2- in which she plays the popular DLC- Gaige.</p>

                        <p>She has also been announced to be playing "Sailor Venus" in Sailor Moon,"Mika" in Psycho Pass, Kajun in "BlazBlue" and Komaru Naegi in the latest installment of the "Dangan Ronpa" series. She is a series regular on the Sprout hit- "Zou", a lead role in the animated feature "Ribbit" has guest starred on "Doc McStuffins" and plays "Peanut Big Top" in the La La Loopsy Girls. She starred in Shane Dawson's "Not Cool" and the Starz Original Series "The Chair."</p>

                        <p>She has appeared in the Emmy Award Winning "Temple Grandin", as well as "Friday Night Lights," "The Deep End," "Chase," "Shameless," "Bones" and "Longmire" to name a few. She worked on "Fast Food Nation," with Richard Linklater, "The Hottest State," with Ethan Hawke, "The Mist," with Frank Darabont among others. She also stars in the recently released faith based drama "Beyond the Farthest Star." She also starred in and produced two seasons of the award winning webseries "Throwing Stones." She has other projects in various stages of production she is excited to share!</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                  <div class="row">
                      <div class="col-md-8 col-sm-7">
                          <div class="title"><h3>Get ready for AWESOME...</h3></div>
                      </div>
                      <div class="col-md-4 col-sm-5">
                          <div class="date-time">
                              <div class="date">
                                  <i class="fa fa-calendar"></i>
                                  <figure>Omnicon</figure>
                              </div>
                              <div class="time">
                                  <i class="fa fa-clock-o"></i>
                                  <figure>08 / 05 / 2016</figure>
                              </div>
                          </div>
                      </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal2 -->

<!-- Modal -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="/img/speaker-03.png" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Todd Haberkorn</h1>
                        <h2>Producer, Writer, Director, Voice Actor</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/Omniconconvention">Facebook</a>
                            <a href="#">Twitter</a>
                            <a href="#">YouTube</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>About Me</h3>
                        <p>Todd Haberkorn has been on stage, on set, and behind a mic for many years. Not only is Todd an actgor in LA, he works as a producer, writer and director as well. And he's even been an actgion figure or two. Haberkornmobile sold separately.</p>

                        <p>In the world of anime, Todd got his first major start in Suzuka as Yamato Akitski. From there, he went on to voice roles such as Jadeite from Sailor Moon, Natsu from Fairy Tail, Italy from Hetalia, Ling Yao from Full Metal Alchemist: Brotherhood, Cheren from Pokemon, Allen Walker from D. Gray Man, Kikaru Kitachin from Ouran High School Host Club, Death The Kid from Soul Eater, and many others. As far as video games go, you'd recognize his voice in the CXall of Duty Series, Defiance, World of Warcarft, Street Fighter IV, Ghostbusters, Silent Hill: Book of Memories, Borderlands 2, and Rage to name a handful. His voice makes sure to get its marathon training in as an award winning narrator for audiobooks. Do a Google search and you'll find everything from thrillers and young adult to zombie sagas and children's books.</p>

                        <p>As far as on camera is concerned, when he isn't working on films, industrials, and television projects for other companies, Todd does work with his company Out of the Office Productions. This is one aspect of a long history of on camera work in narrative film, commercials, and shorts. When he isn't fighting digital mosters in video games or trying to save the day on film, Todd travels in the U.S. and interationally making appearances at gnarly pop culture conventions as a guest to meet super cool fans and sign autographs. He is represented by The Horne Agency, Jeff Zannini Management, Johnson Talent Agency, and William Morris Endeavor.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Monday, September 26</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08:00</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal3 -->

<!-- Modal -->
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal4-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="/img/speaker-04.png" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Stephanie Parks</h1>
                        <h2>Coding Ninja</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/Omniconconvention">Facebook</a>
                            <a href="#">Twitter</a>
                            <a href="#">YouTube</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>About me</h3>
                        <p>Duis vel aliquet nibh. Duis nec ultricies purus. Donec hendrerit eget turpis in fringilla. Vivamus vitae feugiat sapien. Donec semper ligula non cursus maximus. Donec congue id ligula at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Monday, September 26</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08:00</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal4 -->
