<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://img.omnicononline.com/headshots/todd_haberkorn.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Todd Haberkorn</h1>
                        <h2>Producer, Writer, Director, Voice Actor</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">

                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>About Todd</h3>
                        <p>Todd Haberkorn has been on stage, on set, and behind a mic for many years. Not only is Todd an actor in LA, he works as a producer, writer and director as well. And he's even been an action figure or two. Haberkornmobile sold separately.</p>

                        <p>In the world of anime, Todd got his first major start in Suzuka as Yamato Akitski. From there, he went on to voice roles such as Jadeite from Sailor Moon, Natsu from Fairy Tail, Italy from Hetalia, Ling Yao from Full Metal Alchemist: Brotherhood, Cheren from Pokemon, Allen Walker from D. Gray Man, Hikaru Hitachin from Ouran High School Host Club, Death The Kid from Soul Eater, and many others. As far as video games go, you'd recognize his voice in the Call of Duty Series, Defiance, World of Warcraft, Street Fighter IV, Ghostbusters, Silent Hill: Book of Memories, Borderlands 2, and Rage to name a handful. His voice makes sure to get its marathon training in as an award winning narrator for audiobooks. Do a Google search and you'll find everything from thrillers and young adult to zombie sagas and children's books.</p>

                        <p>As far as on camera is concerned, when he isn't working on films, industrials, and television projects for other companies, Todd does work with his company Out of the Office Productions. This is one aspect of a long history of on camera work in narrative film, commercials, and shorts. When he isn't fighting digital monsters in video games or trying to save the day on film, Todd travels in the U.S. and internationally making appearances at gnarly pop culture conventions as a guest to meet super cool fans and sign autographs. He is represented by The Horne Agency, Jeff Zannini Management, Johnson Talent Agency, and William Morris Endeavor.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Get ready for AWESOME...</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Omnicon</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08 / 05 / 2016</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://img.omnicononline.com/headshots/headshot_cherami_leigh_thumbnail.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Cherami Leigh</h1>
                        <h2>Actress, Voice Actress</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/cherami.leigh">Facebook</a>
                            <a href="https://twitter.com/cheramileigh">Twitter</a>
                            <a href="https://www.youtube.com/watch?v=Sagg08DrO5U&feature=youtu.be">YouTube</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>About me</h3>
                        <p>Cherami Leigh has been in the industry for 20 years. She has been in over 75 commercials, and has worked on over 100 anime projects including "Lucy" in Fairy Tail, "Asuna" in Sword Art Online, "Road" in D. Grayman, "Lizzie" in Black Butler, "Mai" in Ghost Hunt, and "Patty" in Soul Eater and has worked on over 20 video games- including Borderlands 2- in which she plays the popular DLC- Gaige.</p>

                        <p>She has also been announced to be playing "Sailor Venus" in Sailor Moon,"Mika" in Psycho Pass, Kajun in "BlazBlue" and Komaru Naegi in the latest installment of the "Dangan Ronpa" series. She is a series regular on the Sprout hit- "Zou", a lead role in the animated feature "Ribbit" has guest starred on "Doc McStuffins" and plays "Peanut Big Top" in the La La Loopsy Girls. She starred in Shane Dawson's "Not Cool" and the Starz Original Series "The Chair."</p>

                        <p>She has appeared in the Emmy Award Winning "Temple Grandin", as well as "Friday Night Lights," "The Deep End," "Chase," "Shameless," "Bones" and "Longmire" to name a few. She worked on "Fast Food Nation," with Richard Linklater, "The Hottest State," with Ethan Hawke, "The Mist," with Frank Darabont among others. She also stars in the recently released faith based drama "Beyond the Farthest Star." She also starred in and produced two seasons of the award winning webseries "Throwing Stones." She has other projects in various stages of production she is excited to share!</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                  <div class="row">
                      <div class="col-md-8 col-sm-7">
                          <div class="title"><h3>Get ready for AWESOME...</h3></div>
                      </div>
                      <div class="col-md-4 col-sm-5">
                          <div class="date-time">
                              <div class="date">
                                  <i class="fa fa-calendar"></i>
                                  <figure>Omnicon</figure>
                              </div>
                              <div class="time">
                                  <i class="fa fa-clock-o"></i>
                                  <figure>08 / 05 / 2016</figure>
                              </div>
                          </div>
                      </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal2 -->

<!-- Modal -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://img.omnicononline.com/headshots/ruth_connell_headshot.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Ruth Connell</h1>
                        <h2>Actress</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <!--
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/Omniconconvention">Facebook</a>
                            <a href="#">Twitter</a>
                            <a href="#">YouTube</a>
                        </div>
                    </div>
                    -->
                    <div class="col-md-9 col-sm-9">
                        <h3>About Me</h3>
                        <p>Ruth Connell is currently appearing as the new recurring character "Rowena" in Supernatural on the CW Network. This is Ruth’s US TV debut. Since moving to LA, Ruth has played lead roles in the award winning Indi film “Folklore” playing a savagely reluctant Vampire and as a powerful Sorceress in the short “Sapphire Strange” which she helped produce. She is Disney Pixar’s official voice match for Princess Merida in conjunction with the Oscar winning movie “Brave”.</p>

                        <p>Born in Scotland, her first professional performance was on stage with Scottish Ballet whom she performed with in many Ballets including playing the young lead role of Clara in their “Nutcracker”. A former Scottish Ballet Champion, Ruth is a classically trained actor having gained a BA HONS from Rose Bruford College in London with ‘Critic’s Choice’ for her graduation showcase.</p>

                        <p>Her portrayal of Mrs Darling and Captain Hook in “Peter Pan; The Boy Who Hated Mothers” at Noah Wylie’s The Blank Theatre  LA, saw Ruth nominated as "Best Leading Actress" in the BroadwayworldLA awards 2013.</p>

                        <p>She has played many principal roles on the main stages in the UK; from Shakespeare and Faust at The Royal Lyceum, to kitchen-sink drama at Hackney Empire. Her brogue can be heard on many campaigns for the Scottish Government as well as in commercials worldwide. Ruth also co-created The Avenue Theatre Company in Greenwich, London and produced their two sell out seasons there.</p>

                        <p>Her film debut was in “Soldiers Leap” with Billy Boyd and her last TV role in the UK was in a Sitcom for ITV with Denis Lawson where she played a Ukrainian cleaning lady who was really an ex-soviet gymnast and spy in disguise… in “Above Their Stations”.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Get ready for AWESOME...</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Omnicon</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08 / 05 / 2016</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal3 -->

<!-- Modal -->
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal4-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://img.omnicononline.com/headshots/ellenor_headshot.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Ellenor Fish</h1>
                        <h2>Cosplayer</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <!--
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/Omniconconvention">Facebook</a>
                            <a href="#">Twitter</a>
                            <a href="#">YouTube</a>
                        </div>
                    </div>
                    -->
                    <div class="col-md-9 col-sm-9">
                        <h3>About me</h3>
                        <img class="img-responsive" src="http://img.omnicononline.com/guests/ellenor/Ivy1.jpg" style="float:left;margin: 0px 10px 5px 0px;width:30%;">
                        <p>Ellenor Fish is a cosplayer from South Texas, but started her nerdy journey in the mountains of Colorado. With only dial-up internet and Toonami, it was a true task to be a part of the anime community, and cosplaying at a convention was only a dream. She began cosplaying just for fun at the age of 12, and always held anime, games, and cosplay in a special place in her heart. After moving to Corpus Christi, Texas she was close to giving up her dream of cosplaying at conventions when she made friends with other local cosplayers, and nothing was ever the same again.</p>

                        <p>Ellenor joined a cosplay group with her friends, and her passion for cosplay, performance, and entertainment has only grown stronger. Over the years, Ellenor has competed in cosplay contests (solo and with groups!) all over Texas, winning several judge’s awards, best skit, and best craftsmanship.</p>

                        <p>Also being the founder of her city’s local Lolita Community. She’s ran 2 fashion shows, multiple panels, and many large scale meet ups for her local lolita community. She is considered her communities go-to mentor for lolita fashion.</p>

                        <p>Over all, Ellenor considers herself a professional goofy-goober that loves Japanese fashion and cosplaying, and her journey has only just begun! Come say hello and join the party!”</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Get ready for AWESOME...</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Omnicon</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08 / 05 / 2016</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal4 -->


<!-- Modal  5 -->
<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="modal5-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://img.omnicononline.com/headshots/little_missy_headshot.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Little Missy</h1>
                        <h2>Cosplay Guest</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <!--
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/Omniconconvention">Facebook</a>
                            <a href="#">Twitter</a>
                            <a href="#">YouTube</a>
                        </div>
                    </div>
                    -->
                    <div class="col-md-9 col-sm-9">
                        <h3>About me</h3>
                        <p>Missy or better known as Silly Little Missy in the convention circuit, is an up and coming Award-Winning Cosplayer Who is an eccentric nerd girl at heart. Since 2006 Missy has accumulated a plethora of awards as an artist, including awards for public speaking, graphic design, skit and performance, photography, traditional art, and cosplay craftsmanship. She is also part owner of a successful partnership specializing in theatrical entertainment!</p>
                        <p>Her cosplays have received world-wide acclaim and can be seen in national and international online magazines and blogs such as FanPup, IsOnlyCosplay, JapanRealm, and so many more. Missy has been involved in the hobby of cosplaying since the early age of twelve, gaining experience and genuine creativity that can only be learned through enduring the early stages of the cosplay community! With all of this under her belt, she’s grown into a well seasoned cosplayer and youtube personality.</p>
                        <p>Silly little Missy in short is the lovable Nerd Next Door who is ready to PARTY ON with all you nerds at the convention!</p>
                        <a href="http://img.omnicononline.com/meta/little_missy.jpg" data-lightbox="Little Missy"><img class="img-responsive" style="width:85%;" src="http://img.omnicononline.com/meta/little_missy.jpg"></a>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Get ready for AWESOME...</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Omnicon</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08 / 05 / 2016</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal 5 -->

<!-- Modal 6 -->
<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="modal6-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://img.omnicononline.com/headshots/erica_mendez_headshot.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Erica Mendez</h1>
                        <h2>Voice Actress</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <!--
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/Caleb-Hyles-204371653095109/">Facebook</a>
                            <a href="https://twitter.com/CalebHyles">Twitter</a>
                            <a href="https://www.youtube.com/channel/UCmkTBtGbf0gSPnHN_slNrOQ">YouTube</a>
                        </div>
                    </div>
                    -->
                    <div class="col-md-9 col-sm-9">
                        <h3>About Me</h3>
                        <p>Erika Mendez is an American voice actress from Chicago, Illinois. Her first major voice role was the title character Pac-Man in the Pac-Man and the Ghostly Adventures video game. She then later voiced the starring character Aladdin in the Magi: The Labyrinth of Magic series and Ryuko Matoi in the English dub of Kill la Kill. On July 3, 2015, it was announced that she would voice Haruka Tenoh/Sailor Uranus in the Viz MediaEnglish dub of Sailor Moon. On March 19, 2016, it was announced that she would voice Gon Freecss in the Viz Media English dub of the 2011 anime adaptation of Hunter x Hunter.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Get ready for AWESOME...</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Omnicon</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08 / 05 / 2016</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 6 -->


<!-- Modal 7 -->
<div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="modal7-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://img.omnicononline.com/headshots/gareth_west_headshot.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Gareth West</h1>
                        <h2>Actor, Voice Actor, Cosplay Guest</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <!--
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/Caleb-Hyles-204371653095109/">Facebook</a>
                            <a href="https://twitter.com/CalebHyles">Twitter</a>
                            <a href="https://www.youtube.com/channel/UCmkTBtGbf0gSPnHN_slNrOQ">YouTube</a>
                        </div>
                    </div>
                    -->
                    <div class="col-md-9 col-sm-9">
                        <h3>About Me</h3>
                        <p>Gareth West is a Texas based actor and Anime voice actor. His credits include Re Hamatora, Chaika Coffin Princess, Monthly Girls, and many more coming in the near future! Gareth also stars as Robin in Robin: The Web Series</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3><a href="http://img.omnicononline.com/headshots/Gandalf-2.jpg" data-lightbox="Gandalf">Look at this Picture of Gandalf</a></h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Omnicon</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08 / 05 / 2016</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 7 -->


<!-- Modal 8 -->
<div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="modal8-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://img.omnicononline.com/headshots/mika_thumbnail.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Mika</h1>
                        <h2>Cosplay Guest</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                   <div class="col-md-9 col-sm-9">
                        <h3>About Mika</h3>
                        <p>Mika Nicole is a professional model, actress, stunt performer, cosplayer, and lover of all things nerdy from Austin, Texas. She has a passion for comics, video games, & scifi and constantly pushes her skills to bring her favorite characters to life in new and unique ways. Mika burst into the cosplay scene in 2006 and began her modeling and acting careers in 2010. She now travels the country as a special guest for conventions showcasing her work, teaching panels, classes, and sharing her passion for nerd culture. Mika's work has been featured all over the internet, in several magazines, on television, and in other media such as: Almost Nerdy, Project Nerd, Samaze Magazine, Cosplay fanatic magazine, and Nerd 411. You can find her work at <a href="http://www.facebook.com/MikaNicoleCosplay">Facebook</a>!</p>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <img class="img-responsive" src="http://img.omnicononline.com/headshots/mika_full.jpg">
                        </div>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3><a href="http://img.omnicononline.com/headshots/Gandalf-2.jpg" data-lightbox="Gandalf">Meet Mika at Omnicon!</a></h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Omnicon</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08 / 05 / 2016</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 8 -->


<!-- Modal 9-->
<div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="modal9-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://img.omnicononline.com/headshots/Azulette_headshot.jpg" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Azulette</h1>
                        <h2>Cosplay Guest</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="http://www.facebook.com/azulette"><span class="fa fa-facebook"> Facebook</span></a>
                            <a href="http://www.twitter.com/azulettecosplay"><span class="fa fa-twitter"> Twitter</span></a>
                            <a href="http://www.instagram.com/azulettecosplay"><span class="fa fa-instagram"> Instagram</span></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>About me</h3>
                        <p>Azulette is an international cosplayer, graphic designer and photographer. She has made around 70 costumes, mainly based in videogames and anime characters, always trying out new materials for them, she makes her own costumes. Creativity is very important for her; she has been invited to cosplay all over Mexico and several other countries.</p>
                        <p>She prefers fighting theme characters with strong and fun personalities.She likes to draw, read and learn in her spare time.</p>
                        <p>She likes to share her experiences and learn from other people, always looking for inspiration to improve her work to help fellow cosplayers and always trying to promote the cosplay culture.</p>
                        <p>Random stuff about Azulette:</p>
                        <ul>
                            <li><b>Favorite food</b>: Mexican</li>
                            <li><b>Hobbies</b>: Drawing/painting, read , anime, videogames, photography</li>
                            <li><b>Languages</b>: Spanish & English</li>
                            <li><b>Favorite color</b>: Purple</li>
                            <li><b>Favorite book</b>: La Nausée -Jean Paul Sartre</li>
                            <li><b>Favorite bands</b>: Deftones & Tool</li>
                        </ul>
                        <p>Azulette es cosplayer internacional, diseñadora gráfica y fotógrafa. Ha realizado aproximadamente 70 cosplays, basados principalmente en personajes de videojuegos y anime, y experimentando con nuevos materiales, ella elabora sus propios disfraces. Para ella la creatividad es muy importante. A sido invitada cosplayer en todo Mexico y   varios países.  Los personajes que principalmente prefiere caracterizar son de peleadoras, con personalidades fuertes y divertidas.</p>
                        <p>En sus tiempos libres se dedica a dibujar, leer y aprender.</p>
                        <p>Le gusta compartir sus experiencias y aprender de los demás, siempre en busca de inspiración para mejorar en su trabajo y ayudar a los demás, siempre tratando de impulsar la cultura del cosplay.</p>
                        <ul>
                            <li><b>Comida favorita</b>: Mexicana</li>
                            <li><b>Hobbies</b>: Dibujar/pintar, leer , anime, videogames, fotografia</li>
                            <li><b>Idiomas</b>: Español e ingles</li>
                            <li><b>Color favorito</b>: Purpura</li>
                            <li><b>Libro favorito</b>: La Nausée -Jean Paul Sartre</li>
                            <li><b>Bandas favoritas</b>: Deftones & Tool</li>
                        </ul>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Get ready for AWESOME...</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Omnicon</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08 / 05 / 2016</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal10 -->


<!-- Modal Blank-->
<div class="modal fade" id="modalblank" tabindex="-1" role="dialog" aria-labelledby="modalblank-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://img.omnicononline.com/speaker-04.png" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Stephanie Parks</h1>
                        <h2>Coding Ninja</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/Omniconconvention">Facebook</a>
                            <a href="#">Twitter</a>
                            <a href="#">YouTube</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3>About me</h3>
                        <p>Duis vel aliquet nibh. Duis nec ultricies purus. Donec hendrerit eget turpis in fringilla. Vivamus vitae feugiat sapien. Donec semper ligula non cursus maximus. Donec congue id ligula at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Get ready for AWESOME...</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Omnicon</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>08 / 05 / 2016</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal10 -->